In [1]:
from fastai.tabular import *

In [2]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
df_train = pd.read_csv("train.csv")

c:\users\91958\envs\pytorch\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [35]:
len(df_train)

1017209

In [4]:
df_store = pd.read_csv("store.csv")

In [5]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [6]:
df_store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [9]:
df_store['CompetitionDistance'].fillna(0)

0        1270.0
1         570.0
2       14130.0
3         620.0
4       29910.0
         ...
1110     1900.0
1111     1880.0
1112     9260.0
1113      870.0
1114     5350.0
Name: CompetitionDistance, Length: 1115, dtype: float64

In [43]:
df_weather = pd.read_csv('weather.csv')

df_weather.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268

In [11]:
df_store_states = pd.read_csv('store_states.csv')

df_store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [22]:
df_merge = pd.merge(df_store, df_store_states, on='Store', how='inner')

In [23]:
df_merge.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [32]:
df_merge2 = pd.merge(df_train, df_merge, on='Store', how='inner')

In [50]:
df_merge2.head().T

,0,1,2,3,4
Store,1,1,1,1,1
DayOfWeek,5,4,3,2,1
Date,2015-07-31,2015-07-30,2015-07-29,2015-07-28,2015-07-27
Sales,5263,5020,4782,5011,6102
Customers,555,546,523,560,612
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,0,0,0,0,0
SchoolHoliday,1,1,1,1,1
StoreType,c,c,c,c,c
Assortment,a,a,a,a,a
CompetitionDistance,1270,1270,1270,1270,1270
CompetitionOpenSinceMonth,9,9,9,9,9
CompetitionOpenSinceYear,2008,2008,2008,2008,2008
Promo2,0,0,0,0,0
Promo2SinceWeek,NaN,NaN,NaN,NaN,NaN
Promo2SinceYear,NaN,NaN,NaN,NaN,NaN
PromoInterval,NaN,NaN,NaN,NaN,NaN
State,HE,HE,HE,HE,HE

In [34]:
len(df_merge2)

1017209

In [39]:
df_state_names = pd.read_csv('state_names.csv')

df_state_names.head(17)

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [37]:
len(df_state_names)

16

In [40]:
df_merge3 = pd.merge(df_state_names, df_merge2, on='State', how='inner')

In [49]:
df_merge3.head().T

,0,1,2,3,4
StateName,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg
State,BW,BW,BW,BW,BW
Store,16,16,16,16,16
DayOfWeek,5,4,3,2,1
Date,2015-07-31,2015-07-30,2015-07-29,2015-07-28,2015-07-27
Sales,10231,10226,9471,9695,10260
Customers,979,953,930,1013,1038
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,0,0,0,0,0
SchoolHoliday,1,1,0,0,0
StoreType,a,a,a,a,a
Assortment,c,c,c,c,c
CompetitionDistance,3270,3270,3270,3270,3270
CompetitionOpenSinceMonth,NaN,NaN,NaN,NaN,NaN
CompetitionOpenSinceYear,NaN,NaN,NaN,NaN,NaN
Promo2,0,0,0,0,0
Promo2SinceWeek,NaN,NaN,NaN,NaN,NaN
Promo2SinceYear,NaN,NaN,NaN,NaN,NaN
PromoInterval,NaN,NaN,NaN,NaN,NaN

In [51]:
len(df_merge3)

1017209

In [48]:
df_googletrend = pd.read_csv('googletrend.csv')

df_googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [52]:
len(df_googletrend)

2072

In [53]:
len(df_weather)

15840

In [54]:
df_weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

In [57]:
df_weather_trend = df_weather.merge(df_googletrend,how='left')

In [58]:
df_weather_trend.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268
week,NaN,NaN,NaN,NaN,NaN
trend,NaN,NaN,NaN,NaN,NaN

In [59]:
df_merge4 = pd.merge(df_weather_trend, df_merge3, on='Date', how='inner')

In [60]:
df_merge4.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01
Max_TemperatureC,8,8,8,8,8
Mean_TemperatureC,4,4,4,4,4
Min_TemperatureC,2,2,2,2,2
Dew_PointC,7,7,7,7,7
MeanDew_PointC,5,5,5,5,5
Min_DewpointC,1,1,1,1,1
Max_Humidity,94,94,94,94,94
Mean_Humidity,87,87,87,87,87
Min_Humidity,65,65,65,65,65
Max_Sea_Level_PressurehPa,1013,1013,1013,1013,1013
Mean_Sea_Level_PressurehPa,1005,1005,1005,1005,1005
Min_Sea_Level_PressurehPa,1001,1001,1001,1001,1001
Max_VisibilityKm,31,31,31,31,31
Mean_VisibilityKm,12,12,12,12,12
Min_VisibilitykM,4,4,4,4,4
Max_Wind_SpeedKm_h,39,39,39,39,39
Mean_Wind_SpeedKm_h,26,26,26,26,26
Max_Gust_SpeedKm_h,58,58,58,58,58
Precipitationmm,5.08,5.08,5.08,5.08,5.08
CloudCover,6,6,6,6,6
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,215,215,215,215
week,NaN,NaN,NaN,NaN,NaN
trend,NaN,NaN,NaN,NaN,NaN
StateName,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg,BadenWuerttemberg
State,BW,BW,BW,BW,BW
Store,16,21,49,61,66
DayOfWeek,2,2,2,2,2
Sales,0,0,0,0,0
Customers,0,0,0,0,0
Open,0,0,0,0,0
Promo,0,0,0,0,0
StateHoliday,a,a,a,a,a
SchoolHoliday,1,1,1,1,1
StoreType,a,c,d,a,d
Assortment,c,c,c,c,a
CompetitionDistance,3270,550,18010,350,7660
CompetitionOpenSinceMonth,NaN,10,9,12,NaN
CompetitionOpenSinceYear,NaN,1999,2007,2007,NaN
Promo2,0,1,0,1,1
Promo2SinceWeek,NaN,45,NaN,1,37
Promo2SinceYear,NaN,2009,NaN,2012,2009
PromoInterval,NaN,"Jan,Apr,Jul,Oct",NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct"

In [61]:
len(df_merge4)

16275344

In [66]:
from fastai.basics import *

In [67]:
cat_vars = ['Store', 'DayOfWeek', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo2', 'SchoolHoliday']

cont_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE', 'Promo' ]

In [68]:
path = 'C://Users//91958//Rosmann_fastai//'
procs=[FillMissing, Categorify, Normalize]
data = (TabularList.from_df(df_merge4, path=path, cat_names=cat_vars, cont_names=cont_vars, procs=procs)
                .split_from_df()
                .label_from_df(cols='Sales', label_cls=FloatList, log=True)
                .databunch())

NameError: name 'FillMissing' is not defined

In [72]:
tfm = FillMissing(cat_names, cont_names)

NameError: name 'FillMissing' is not defined

In [71]:
from fastai import *